/* LINKS & BUTTON */
a,
.uk-link {
  color: #1e87f0;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
.uk-link:hover,
.uk-link-toggle:hover .uk-link,
.uk-link-toggle:focus .uk-link {
  color: #0f6ecd;
  text-decoration: underline;
}
.uk-button-default {
}
.uk-button-default:hover,
.uk-button-default:focus {
}

.uk-button-primary {
}
.uk-button-primary:hover,
.uk-button-primary:focus {
}

.uk-button-secondary,  {
}
.uk-button-secondary:hover,
.uk-button-secondary:focus {
}