p.rz-display::after {
    content: "mobile";
}

// Small devices (landscape phones, 640px and up)
@media (min-width: 640px) {
        p.rz-display::after {
        content: "small";
    }
}

// Medium devices (tablets, 960px and up)
@media (min-width: 960px) {
        p.rz-display::after {
        content: "medium";
    }
}

// Large devices (desktops, 1200px and up)
@media (min-width: 1200px) {
        p.rz-display::after {
        content: "large";
    }
}

// Extra large devices (large desktops, 1600px and up)
@media (min-width: 1600px) {
        p.rz-display::after {
        content: "extra large";
    }
}