/* FIXING FONT RENDERING */
/* line 2, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* GLOBAL COLORS */
/* line 20, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
.rz-bg-white {
  background-color: #FFFFFF; }

/* line 23, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
.uk-label {
  background-color: #D9EBFC;
  color: #0E6ECE; }

/* line 27, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
.uk-label-success {
  background-color: #D5F6EA;
  color: #209268; }

/* line 31, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
.uk-label-warning {
  background-color: #FEE2CD;
  color: #E96A07; }

/* line 35, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
.uk-label-danger {
  background-color: #FCDEE4;
  color: #EC2248; }

/* HERO */
/* line 42, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
.rz-nav {
  position: absolute;
  top: 0;
  z-index: 99;
  left: 0;
  right: 0; }

/* line 49, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
.rz-top-wrap::before, .overlay-wrap::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5); }

/* line 59, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
.rz-top-wrap-height {
  height: 80vh;
  min-height: 460px;
  transition: height 0.25s; }

/* line 64, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
.rz-top-container {
  z-index: 2; }

/* LINKS & BUTTON */
/* line 71, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
a,
.uk-link {
  color: #1e87f0;
  text-decoration: none;
  cursor: pointer; }

/* line 77, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
a:hover,
.uk-link:hover,
.uk-link-toggle:hover .uk-link,
.uk-link-toggle:focus .uk-link {
  color: #0f6ecd;
  text-decoration: underline; }

/* line 84, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
a.rz-active {
  box-shadow: 0px -3px 0px red inset; }

/* RESPONSIVE EMBEDS */
/* line 106, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
.rz-fluid-video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

/* line 112, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
.rz-fluid-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 119, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
.rz-fluid-maps {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

/* line 125, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
.rz-fluid-maps iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

/* line 133, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
p.rz-display::after {
  content: "mobile"; }

@media (min-width: 640px) {
  /* line 139, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
  p.rz-display::after {
    content: "small"; } }

@media (min-width: 960px) {
  /* line 146, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
  p.rz-display::after {
    content: "medium"; } }

@media (min-width: 1200px) {
  /* line 153, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
  p.rz-display::after {
    content: "large"; } }

@media (min-width: 1600px) {
  /* line 160, /Volumes/MACBACKUP/MAMP/htdocs/headfirst-UIKit/style.scss */
  p.rz-display::after {
    content: "extra large"; } }

/*# sourceMappingURL=style.css.map */