/* FIXING FONT RENDERING */
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



/* GLOBAL COLORS */
$primary: #1e87f0;//UIKit default
$primary-darker: #0f6ecd;//UIKit default
$label-blue: #D9EBFC;
$label-blue-text: #0E6ECE;
$label-green: #D5F6EA;
$label-green-text: #209268;
$label-orange: #FEE2CD;
$label-orange-text: #E96A07;
$label-red: #FCDEE4;
$label-red-text: #EC2248;
.rz-bg-white {
    background-color: #FFFFFF;
}
.uk-label {
    background-color: $label-blue;
    color: $label-blue-text;
}
.uk-label-success {
    background-color: $label-green;
    color: $label-green-text;
}
.uk-label-warning {
    background-color: $label-orange;
    color: $label-orange-text;    
}
.uk-label-danger {
    background-color: $label-red;
    color: $label-red-text;    
}


/* HERO */
.rz-nav {
	position: absolute;
	top: 0;
	z-index: 99;
	left: 0;
	right: 0;
}
.rz-top-wrap::before, .overlay-wrap::before {
	position: absolute;
	top:0;
	right:0;
	left: 0;
	bottom: 0;
	content: '';
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
}
.rz-top-wrap-height {
	height: 80vh;
	min-height: 460px;
	transition: height 0.25s;
}
.rz-top-container {
	z-index: 2;
}



/* LINKS & BUTTON */
a,
.uk-link {
  color: $primary;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
.uk-link:hover,
.uk-link-toggle:hover .uk-link,
.uk-link-toggle:focus .uk-link {
  color: $primary-darker;
  text-decoration: underline;
}
a.rz-active {
    box-shadow: 0px -3px 0px red inset;
}
.uk-button-default {
}
.uk-button-default:hover,
.uk-button-default:focus {
}

.uk-button-primary {
}
.uk-button-primary:hover,
.uk-button-primary:focus {
}

.uk-button-secondary,  {
}
.uk-button-secondary:hover,
.uk-button-secondary:focus {
}

/* RESPONSIVE EMBEDS */
.rz-fluid-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.rz-fluid-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.rz-fluid-maps {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.rz-fluid-maps iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

p.rz-display::after {
    content: "mobile";
}

// Small devices (landscape phones, 640px and up)
@media (min-width: 640px) {
        p.rz-display::after {
        content: "small";
    }
}

// Medium devices (tablets, 960px and up)
@media (min-width: 960px) {
        p.rz-display::after {
        content: "medium";
    }
}

// Large devices (desktops, 1200px and up)
@media (min-width: 1200px) {
        p.rz-display::after {
        content: "large";
    }
}

// Extra large devices (large desktops, 1600px and up)
@media (min-width: 1600px) {
        p.rz-display::after {
        content: "extra large";
    }
}
